nav{
    padding-left: 20px;
    background-color:rgb(14, 100, 126);
    text-align: center;
    
}
#a1{
    color: rgb(33, 162, 194);
}
#a2{
    color: rgb(33, 162, 194);
    margin-left: 20px;
}
#a3{
    color: rgb(33, 162, 194);
    margin-left: 20px;
}